/*------------ Start Global style----------*/

/*???? small Screen */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/*???? mid Screen */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/*???? Large Screen */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/*------------ End Global style----------*/


/***** nav bar ******/
@media (max-width:1200px) {

    header ul li {
        height: 100%;
        margin-top: 10px;
        padding: 1px 5px;
    }

    header ul li .nav-link {
        border-radius: 5px;
        color: #fff;
        text-align: center;
    }

    header ul li .nav-link:hover,
    .active {
        background-color: rgba(30, 3, 12, 0.191) !important;
        border-radius: 10px;
        color: #fff;
    }
}

/***** End nav bar ******/



/********** Start Hero Section *********/

@media (max-width:420px) {
    #hero_section .content {
        margin-top: 55%;
        width: 20px;
        display: grid;
        place-items: center;

    }
}

@media (max-width:767px) {

    #hero_section .content {
        width: 100%;
    }

    #hero_section .content h1 {
        font-size: 30pt;
        text-align: left;
    }
}

@media (max-width:992px) {
    #hero_section .content {
        margin-top: 55%;
    }
}

@media (max-width: 1200px) {
    #hero_section .content {
        border: 1px solid #fff;
        display: grid;
        place-items: center;
        background: #00000023;
    }
}

/********** End Hero Section *********/

/***** Start section interactive *****/

@media (max-width:768px) {

    section .interactive h2 {
        padding-top: 10px;
    }

    section .interactive {
        padding-top: 100px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, auto));
        padding-top: 100px;
        text-align: center;
    }

    section .interactive img {
        max-width: 100%;
        mix-blend-mode: multiply;
        opacity: 80%;
    }
}

@media (min-width:992px) {
    section .interactive {
        padding-top: 100px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, auto));
        padding-top: 100px;
    }

    section .interactive .interactive-text {
        position: absolute;
        width: 550px;
        height: 320px;
        right: 163px;
        bottom: 0px;
        background-color: rgb(255, 255, 255);
        max-width: 750px;
        margin: auto;
        padding: 19px 10px 0 50px;
    }
}

/***** End section interactive ******/

/***** Start creation section *******/

@media (min-width:320px) {
    .main-creation .creation h2::after {
        content: '';
        position: absolute;
        height: 5px;
        width: 20%;
        left: 180px;
        bottom: 25px;
        background: rgb(216, 0, 72);
    }

    .main-creation .creation button {
        /* bottom: -190rem; */
        right: 0;
    }

    .main-creation .creation button:hover {
        width: 150px;
        padding: 10px 20px;
    }

}

@media (max-width:768px) and (min-width:320px) {
    .main-creation .box {
        flex-basis: 50%;
        height: auto;
    }

    .main-creation .box img {
        aspect-ratio: auto;
        height: 360px;
    }

    .main-creation .creation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-creation .creation h2::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 50%;
        left: 120px;
        bottom: 35px;
        background: rgb(216, 0, 72);
    }

    .main-creation .creation button {
        bottom: -190rem;
        left: 110px;
    }

    .main-creation .creation button:hover {
        width: 150px;
        padding: 10px 20px;
    }
}

@media (min-width:992px) {
    .main-creation .box {
        flex-basis: 25%;
    }

    .main-creation .creation h2::after {
        content: '';
        position: absolute;
        height: 5px;
        width: 10%;
        left: 150px;
        bottom: 35px;
        background: rgb(216, 0, 72);
    }

}

@media (max-width:1200px) {
    .main-creation .creation h2::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 2px;
        background: rgb(216, 0, 72);
    }
}

/***** End creation section ********/

/******** Start footer *********/
@media (max-width:767px) {
    footer .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    footer .container .col-left {
        display: grid;
        place-items: center;
    }

    footer .container ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    footer .container .col-right {
        display: grid;
        place-items: center;
    }

    footer .col-right ul {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

/********* End footer *********/